@import '~antd/dist/antd.css';


.formRoot{
  width: 1000px;
  background-color: var(--ant-primary-1);
  margin: 0 auto;
  padding: 15px 25px ;
  height: 100vh;
  overflow: auto;
  position: relative;
}