@import "~antd/dist/antd.css";

.formRoot {
  width: 90%;
  max-width: 1000px;
  background-color: var(--app-background);
  margin: 0 auto;
  padding: 15px 25px;
  height: 100vh;
  overflow: auto;
  position: relative;
}
