.color-area {
  display: inline-block;
  cursor: pointer;
}
.color-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .color-bg {
    display: inline-block;
    width: 30px;
    height: 30px;
    box-shadow: 0 0 1px 1px var(--primary-color);
  }

  .color-text {
    text-shadow: 0 1px var(--primary-color);
    -webkit-filter: invert(80%);
    filter: invert(80%);
  }
}
