.time-row {
  // position: relative;
  .time-title {
    // position: absolute;
    left: 0;
    z-index: 1;
    width: 400px;
    text-align: center;
    background-color: #e0e0e0;
    padding: 5px 10px;
    .time-title-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
