.required {
  &::before {
    content: "*";
    display: inline-flex;
    align-items: center;
    height: inherit;
    margin-right: 0.2rem;
    color: red;
  }
}
.colon {
  &::after {
    content: ":";
    display: inline-flex;
    align-items: center;
    height: inherit;
    margin-right: 0.2rem;
  }
}
